*{
    font-family: 'poppins',sans-serif !important ;
    /* background-color: blue; */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#head
{
    font-weight: 900;
}
#button{
    background-color: #BC6202;
    color: #fff;
    border-radius: 12px;
    font-family:Arial, Helvetica, sans-serif !important;
}
#button:hover{
    background-color: #DB3E00;
    color: #fff;
    transition-duration: 0.5s;
}
.btn-span a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
